<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365513269744-7fc3m78tgv9ntc7bbl1glpn6ns0q1tau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365513269744-7fc3m78tgv9ntc7bbl1glpn6ns0q1tau</string>
	<key>API_KEY</key>
	<string>AIzaSyADqYCN9orYNWs2NYbNzeLX7R87y6X8FLU</string>
	<key>GCM_SENDER_ID</key>
	<string>365513269744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fyp</string>
	<key>PROJECT_ID</key>
	<string>save-excess-food</string>
	<key>STORAGE_BUCKET</key>
	<string>save-excess-food.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365513269744:ios:1a870a12f413483611bd35</string>
</dict>
</plist>